#Root
.vscode
package-lock.json

# IntelliJ / JetBrains
.idea/
*.iml
out/

# VS Code
.vscode/

# Python
_04Python_Playwright/venv/
_04Python_Playwright/__pycache__/
_04Python_Playwright/*.pyc
_04Python_Playwright/*.pyo

# Node.js / TypeScript
**/node_modules/
_03Typescript_Playwright/dist/
_03Typescript_Playwright/playwright-report/
_03Typescript_Playwright/test-results/

# Java / Maven
_01Java_Selenium/target/
_01Java_Selenium/.idea/
_02Java_Cucumber/target/
_02Java_Cucumber/.idea/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml
release.properties

# Logs & OS Files
*.log
*.swp
.DS_Store
Thumbs.db

# Playwright Specific
_04Python_Playwright/.playwright/
_03Typescript_Playwright/.playwright/
**/allure-report/
**/allure-results/
test-results/

# Environment & Credentials (dacă folosești fișiere de configurare locale)
.env
.env.local
